div, body, h1, h2, h3, h4, p{
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    border: 0;
}

.text{
    padding-left: 20px;
    font-family: 'BioRhyme', serif;
}

body{
    padding-right: 5px;
    height:81%;
}

h1, h2, h3{
    text-align: center;
    text-decoration: bold;
}

p, h2{
    box-shadow: -1px 1px 3px;
    border: 2px solid darkslategray;  
    background-color: skyblue;
    padding-left: 20px;
    padding-right: 10px;
    padding-bottom: 10px;
}

a{
    text-decoration: none;
    color:dodgerblue;
}

html{
    font-family: "BioRhyme", serif;
}

.header{
    background-image: url(images/banner.jpg);
    width:99.6%;
    height:100px;
    border-bottom: 5px solid darkslategray;
    border-right: 5px solid darkslategray;
    border-left: 5px solid darkslategray;
}

.main{
    background-image: url(images/cloudy-day.png);
    width:100.4%;
    height: 101.1%;
    background-color:cadetblue;
    border-bottom:5px solid darkslategray;
}

.logo{
    padding-top: 10px;
    font-weight: lighter;
    text-align: center;
}

.mainlink{
    color:black;
    height: 20%;
    text-decoration: none;
}

.underline{
    align-items:center;
    width: 375px;
    height: 25px;
    display: block;
    margin: 0 auto;
}

.entry{
    padding: 10px 90px 0 100px;
}

.entry .panelImg{
    display: inline-block;
}

.entry .logo{
    display: inline-block;
    padding-left: 4%;
}